<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../engine/Shopware/Components/Plugin/schema/plugin.xsd">
    <label lang="de">nlxProductComparison</label>
    <label lang="en">nlxProductComparison</label>
    <version>1.2.0</version>
    <copyright>(c) by netlogix GmbH &amp; Co. KG</copyright>
    <license>Proprietary</license>
    <link>https://websolutions.netlogix.de/</link>
    <author>netlogix GmbH &amp; Co. KG</author>

    <description lang="de">
        Plugin, um Eigenschaften, die im Produktvergleich-Overlay angezeigt werden, auszublenden
    </description>
    <description lang="en">
        Plugin to hide properties shown in product comparison overlay
    </description>

    <compatibility minVersion="5.6.0" />

    <changelog version="1.0.0">
        <changes lang="de">Erste Veröffentlichung</changes>
        <changes lang="en">Initial Release</changes>
    </changelog>
    <changelog version="1.0.1">
        <changes lang="de">Lösche unbenutze menu.xml Datei</changes>
        <changes lang="en">Delete unused menu.xml file</changes>
    </changelog>
    <changelog version="1.0.2">
        <changes lang="de">Services definieren</changes>
        <changes lang="en">Define services</changes>
    </changelog>
    <changelog version="1.0.3">
        <changes lang="de">Behandle "hiddenOptions" nur als ein Array um komplikationen zu vermeiden</changes>
        <changes lang="en">Handle "hiddenOptions" only as an array to prevent complications</changes>
    </changelog>
    <changelog version="1.1.0">
        <changes lang="de">Plugin Beschreibung hinzugefügt</changes>
        <changes lang="en">Added plugin description</changes>
    </changelog>
    <changelog version="1.2.0">
        <changes lang="de">Shopware 5.7.7 support. Github Actions hinzugefügt</changes>
        <changes lang="en">Shopware 5.7.7 support. Added github actions</changes>
    </changelog>
</plugin>
